@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/dm-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/dm-sans-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Font Family */
    --font-dm-sans: DM Sans, sans-serif;
    /* Font Size */
    --text-3xl: 4rem;
    --text-2xl: 2.5rem;
    --text-xl: 1.5rem;
    --text-lg: 1.25rem;
    --text-base: 1rem;
    /* Line Height */
    --leading-snug: 1.4;
    --leading-tight: 1.3;
    /* Letter Spacing */
    --tracking-tight: -0.038rem;
    --tracking-tighter: -0.063rem;
    /* Border Radius */
    --radius-xs: 0.25rem;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.625rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.25rem;
    --radius-4xl: 1.5rem;
    /* Colors */
    --color-purple-400: oklch(78.54% 0.135 309.55);
    --color-purple-500: oklch(70.92% 0.185 308.46);
    --color-orange-500: oklch(73.79% 0.162 38.35);
    --color-orange-800: oklch(58.42% 0.206 34.79);
    --color-yellow-500: oklch(78.22% 0.172 67.58);
    --color-neutral-100: oklch(96.26% 0.007 286.27);
    --color-neutral-200: oklch(92.21% 0.015 286.11);
    --color-neutral-600: oklch(38.45% 0.031 279.88);
    --color-neutral-700: oklch(29.32% 0.022 281.22);
    --color-neutral-800: oklch(25.54% 0.019 280.49);
    --color-neutral-900: oklch(18.9% 0.014 278.57);
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
